.card {
    max-width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    padding: 20px;
    text-align: center;

    img {
        max-width: 100%;
        border-radius: 50%;
        margin-bottom: 10px;
    }
}