.card {
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    text-align: center;
    min-height: 550px;
    border: 3px solid #00e085;

    img {
        max-width: 100%;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    }

    p {
        word-wrap: break-word;
        font-family: 'Noto Sans Mono', monospace;
    }

    .card-content-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 20px;
    }

    h2 {
        font-family: 'REM', sans-serif;  
    }
}

@media only screen and (max-width: 767px) {
    .card {
        width: 300px;
        min-height: auto; 
    }
}